/* Fonts Variables */
$fontRoboto : 'Roboto', sans-serif;
$fontshrikhand : 'Shrikhand', cursive;

/* Colors */
$colorFirst : #9356DC;
$colorSecond : #FF79DA;
$colorThird : #99E2D0;

/* WebSite CSS */
* {
    margin: 0;
    font-family: $fontRoboto;
}

.loader {
    height: 100%;
    width: 100%;
    background-color: $colorThird;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9998;
    &_bar {
        transform: translateY(-50%);
        top: 50%;
        position: fixed;
        width: calc(100% - 200px);
        color: $colorFirst;
        padding: 0 100px;
        text-align: center;
        label {
            font-size: 20px;
            opacity: 0;
            display: inline-block;
            font-family: $fontshrikhand;
            color: $colorSecond;
        }
    }
}

/* Animation for main loading page */
@keyframes LoaderBar {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
    }
}

.loader_bar label:nth-child(8) {
    animation: LoaderBar 3s infinite ease-in-out;
}
.loader_bar label:nth-child(7) {
    animation: LoaderBar 3s infinite ease-in-out;
}

.loader_bar label:nth-child(6) {
    animation: LoaderBar 3s infinite ease-in-out;
}

.loader_bar label:nth-child(5) {
    animation: LoaderBar 3s 100ms infinite ease-in-out;
}

.loader_bar label:nth-child(4) {
    animation: LoaderBar 3s 200ms infinite ease-in-out;
}

.loader_bar label:nth-child(3) {
    animation: LoaderBar 3s 300ms infinite ease-in-out;
}

.loader_bar label:nth-child(2) {
    animation: LoaderBar 3s 400ms infinite ease-in-out;
}

.loader_bar label:nth-child(1) {
    animation: LoaderBar 3s 500ms infinite ease-in-out;
}

/* HEADER Block */
.header {
    position: relative;
    padding: 17px 0 7px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.230);
}

.logo {
    font-family: $fontshrikhand;
    text-align: center;
    font-weight: 400;
}

/* Banner Block */
.banner {
    background-color: #f6f6f6;
    width: 100%;
}

/* Localisation Zone */
.localisation {
    width: 100%;
    background-color: #eaeaea;
    padding: 20px 0 20px 0;
}

.loc-block {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loca-txt {
    font-weight: normal;
}

/* Exploration */
.exploration {
    width: 100%;
    padding: 50px 0 60px 0;
}

.explo-content {
    width: 86%;
    text-align: center;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

/* Bouton Explorer */
.btn-explo {
    border: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 16;
    color: #fff;
    border-radius: 100px;
    padding: 15px 20px;
    background-image: linear-gradient(0deg, $colorFirst, $colorSecond);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    &:hover {
        cursor: pointer;
        opacity: 0.7;
        box-shadow: 5px 4px 3px rgba(0,0,0,0.0296);
    }
}


/* Main Content */
.main-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Fonctionnement Block */
.fonctionnement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 20px;
    padding: 50px 0 50px 0;
}

.fonctionnement h1 {
    font-weight: bold;
    font-size: 27px;
    padding: 0 0 20px 20px;
}

/* Bouton Fonction */
.btn-fonction {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    margin: auto;
    border-radius: 20px;
    height: 65px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.206);
    gap: 20px;
}

.third-fonction {
    background-color: #f4edfe;
}

.third-fonction .logo-fonction {
    color: $colorFirst;
}

.number {
    display: block;
    position: absolute;
    left: -12px;
    background-color: $colorFirst;
    color: #fff;
    border-radius: 50px;
    padding: 6px 10px;
}

.logo-fonction {
    color: #808080;
    margin-left: 35px;
}

.btn-fonction p {
    font-size: 16px;
    font-weight: 500;
}

/* Restaurant List Block */
.restaurant {
    width: 100%;
    background-color: #f6f6f6;
    padding: 50px 0 50px 0;
}

.restaurant h1 {
    font-weight: bold;
    font-size: 27px;
    padding: 0 0 20px 20px;
}

.restaurant-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Card Restaurants */
.card-restaurant {
    width: 90%;
    height: 260px;
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    display: block;
    position: relative;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.096);
    text-decoration: none;
    color: #000;
}

.card-restaurant:hover {
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.296);
}

.card-restaurant img {
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-content {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-txt {
    padding-top: 10px;
}

.card-restaurant h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}

.card-content p {
    font-size: 18px;
    font-weight: lighter;
}

.like-box {
    z-index: 1;
    width: 60px;
    height: 50px;
    outline: none;   
    background: none;
    border: none;
    cursor: pointer;
    .like-inside:hover {
        stroke: red;
        fill: red;
    }
}

.card-like {
    fill:none;
    stroke:black;
    stroke-width:80.75px;
    padding-top: 5px;
}

/* Etiquette New */
.new {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    background-color: $colorThird;
    color: #00825c;
    font-weight: 500;
    font-size: 16px;
}

/* FOOTER Block */
footer {
    width: 100%;
    background-color: #363636;
    color: #fff;
}

.footer-content {
    width: 90%;
    margin: auto;
    padding: 30px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-content h1 {
    font-family: $fontshrikhand;
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 10px;
}

.footer-content a {
    text-decoration: none;
    color: #fff;
}

.footer-content a:hover {
    cursor: pointer;
    color: $colorSecond;
}

.footer-icon {
    margin-right: 10px;
}

/*------- Style For MENU --------*/

/* Header Menu */
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 65px;
}

.retour-menu {
    color: #000;
    margin-left: 15px;
}

/* Banner Menu */
.banner-menu {
    width: 100%;
}

.img-menu {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Main Menu Block */
.main-menu {
    padding-top: 20px;
    position: relative;
    z-index: 1;
    margin-top: -60px;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    width: 100%;
}

.menu-titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: -35px;
}

.menu-titre h1 {
    font-family: $fontshrikhand;
    font-size: 25px;
    font-weight: 100;
    padding-top: 10px;
}

.card-menu {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card-menu h2 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 40px;
    text-transform: uppercase;
}

.ligne-titre {
    border: 2px solid $colorThird;
    width: 11%;
    margin-top: -11px;
}

.card-plat {
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.206);
    &:hover {
        .plat-selected {
            display: inherit;
            right: 0;
            opacity: 100;
            margin: 0 -19px 0 7px;
            height: 75px;
            border-radius: 0 20px 20px 0;
            transform-origin: right;
            transition: all .4s ease-out;
            .checked-plat {
                transform: rotate(-360deg);
                transition: transform 500ms ease-in-out;
            }
        }
    }
    .plat-selected {
        background: #99e2d0;
        opacity: 0;
        width: 20%;
        margin: 0 -88px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .checked-plat {
            color: #fff;
        }
    }
}

.plat-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plat-txt {
    width: 81%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat-content h3 {
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat-content p {
    font-size: 15px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.btn-box {
    width: 100%;
    text-align: center;
    padding: 50px 0 50px 0;
}

.command {
    font-size: 16px;
    padding: 16px 45px 16px 45px;
}

/* Tablette Media */
@media (min-width: 650px) {

    /* Index Page */
    .btn-fonction {
        width: 45%;
    }

    .restaurant-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 10px;
    }

    .card-restaurant {
        width: 320px;
        height: 300px;
        margin: 20px;
    }

    /* Menu Page */
    .header-menu {
        display: flex;
        justify-content: center;
        gap: 0;
        a {
            padding: 0 45px 0 0;
        }
    }

    .card-plat {
        .plat-selected {
            margin: 0 -92px 0 -84px;
        }
        &:hover {
            .plat-selected {
                margin: 0 -35px 0 7px;
            }
        }
    }

}

/* Desktop Media */
@media (min-width: 769px) {
    /* Index Page */
    .container {
        width: 80%;
        margin: auto;
        .btn-fonction {
            width: 45%;
        }
        .restaurant-list {
            width: 100%;
            .card-restaurant {
                width: 40%;
            }
        }
    }

    /* Menu Page */
    .header-menu {
        display: flex;
        justify-content: center;
        a {
            padding: 0 35px 0 0;
        }
    }

    .menu-titre {
        justify-content: center;
        h1 {
            font-size: 35px;
        }
    }

    .card-menu{
        width: 100%;
        .card-container {
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .menu-list {
                width: 35%;
            }
        }
    }

    .card-plat {
        .plat-txt {
            margin-right: -8px;
        }

        .plat-selected {
            margin: 0 -96px 0 -12px;
        }
        &:hover {
            .plat-selected {
                margin: 0 -6% 0 7px;
            }
        }
    }
}